<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} - {{ $.Site.Title }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="flex flex-col flex-grow justify-center min-h-screen p-6 max-w-3xl mx-auto bg-background dark:bg-slate-800 dark:text-white">

    <div class="mb-5">
      {{ partial "header.html" . }}
    </div>

    <div class="flex-1 flex">
        {{ block "main" . }}
        {{ end }}
    </div>

    <hr />

    <div>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </div>

</body>
</html>
