{{ define "main" }}

    <div class="flex flex-col gap-3">

        <!-- Index page content -->
        {{ with .Content }}
            <div>
                {{ . }}
            </div>
        {{ end }}
        
        <!-- Paginated items -->
        <div class="flex flex-col gap-6">
            {{ range .Paginator.Pages }}
                {{ partial "preview.html" . }}
            {{ end }}
        </div>

        <!-- Pagination controls -->
        {{ partial "pagination.html" . }}
    </div>

{{ end }}