{{ define "main" }}
    <div class="flex flex-col gap-1">
        <h1>
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h3>
        <div class="flex flex-wrap md:gap-0">
            
            <!-- Published date -->
            <!-- <span>Published on {{ .Date.Format "02 Jan 2006" }}{{ with .Params.Author }} by {{ . }}{{ end }}</span> -->

            <!-- Updated date -->
            {{ if $.Site.Params.showLastUpdated }}
                <span>{{or $.Site.Params.updatedDatePrefix "Updated"}} on {{ .Lastmod.Format "02 Jan 2006" }}</span>
            {{ end }}

            <!-- Reading time -->
            {{ if and (.Param "readingTime") (eq (.Param "readingTime") true) }}
                <span class="separator md:block"></span>
                <span>{{ .ReadingTime }} minutes read ({{ .WordCount }} words)</span>
            {{ end }}

        </div>

        {{- with .Content -}}
            <article class="mt-3">
                <!-- Inject links into the heading tags -->
                {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="heading-anchor" aria-hidden="true">#</a> ${3}` | safeHTML }}
            </article>
        {{- end -}}
    </div>
{{ end }}