<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
    {{ block "title" . }}
        <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} - {{ $.Site.Title }}{{ end }}</title>
    {{ end }}
    {{ partial "head.html" . }}
</head>
<body class="flex flex-col justify-center flex-grow max-w-3xl min-h-screen p-6 mx-auto">

    <!-- Navbar -->
    <div class="mb-5">
      {{ partial "header.html" . }}
    </div>

    <!-- Main content -->
    <div class="flex flex-1">
        {{ block "main" . }}
        {{ end }}
    </div>

    <!-- Footer -->
    <hr />
    <div>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </div>

</body>
</html>
