{{ define "main" }}

    <div class="flex flex-col gap-3 grow">

        <!-- Header -->
        <!-- Todo: fix Weird bug where bold headings clip outside the div -->
        {{ with .Title }}
            <div class="grid justify-items-center">
                <h1 class="pb-1">
                    {{ . | markdownify }}
                </h1>
            </div>
        {{ end }}

        <!-- Index page content -->
        {{ with .Content }}
            <div>
                {{ . }}
            </div>
        {{ end }}
        
        <!-- Paginated items -->
        <div class="flex flex-col gap-6">
            {{ range .Paginator.Pages }}
                {{ partial "preview.html" . }}
            {{ end }}
        </div>

        <!-- Pagination controls -->
        {{ partial "pagination.html" . }}
    </div>

{{ end }}