@tailwind base;
@tailwind components;
@tailwind utilities;

.pretty {
    @apply text-transparent bg-gradient-to-r from-violet-600 to-cyan-400 dark:from-violet-400 dark:to-cyan-500 bg-clip-text decoration-violet-600 dark:decoration-violet-400;
}

.title {
    @apply inline-block font-bold pretty;
}

a.title {
    @apply decoration-violet-600 dark:decoration-violet-400;
}

/* Only do the sexy thing to the first H1 */
h1:first-child {
    @apply title
}

/* Don't apply any margin to the first header */
.heading:first-child {
    @apply mt-0;
}

body {
    @apply bg-zinc-50 dark:bg-zinc-900 dark:text-white
}

h1 {
    @apply mt-12 text-5xl heading;
}

h2 {
    @apply mt-10 text-4xl heading;
}

h3 {
    @apply mt-8 text-3xl heading;
}

h4 {
    @apply mt-6 text-2xl heading;
}

h5 {
    @apply mt-4 text-xl heading;
}

h6 {
    @apply mt-2 text-lg heading;
}

a {
    @apply text-violet-600 hover:text-cyan-400 dark:text-violet-400 dark:hover:text-cyan-500 hover:underline
}

ul {
    @apply list-disc list-inside;
}

ol {
    @apply list-decimal list-inside;
}

hr {
    @apply my-6;
}

p {
    @apply my-3;
}

svg {
    @apply w-6 h-6 fill-violet-600 hover:fill-cyan-400 dark:fill-violet-400 dark:hover:fill-cyan-500;
}

.separator {
    @apply mx-2 border-l-2 border-solid border-violet-600 dark:border-violet-400;
    content: "&nbsp;";
}

.heading-anchor {
    @apply ml-1;
    opacity: 0;
}

.heading-anchor:hover {
    @apply no-underline;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.hamburger {
    z-index: 100;
    @apply absolute top-0 bottom-0 left-0 right-0 bg-zinc-50 dark:bg-zinc-900;
}
