<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else if .Description}}{{ .Description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Theme CSS -->
{{ $css := resources.Get "_compiled.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.Permalink | absURL }}">

<!-- Icons -->
<link rel="apple-touch-icon" href="{{ "apple-touch-icon-180x180.png" | absURL }}">
<link rel="shortcut icon" href="{{ $.Site.Params.favicon | absURL }}">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
{{ if (isset $.Site.Params "twitter") }}
    <meta name="twitter:creator" content="{{ $.Site.Params.Twitter.creator }}" />
{{ end }}

<!-- Open Graph data https://ogp.me -->
<meta property="og:site_name" content="{{ $.Site.Title }}" />
<meta property="og:locale" content="{{ $.Site.Language.Lang }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:title" content="{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else if .Description}}{{ .Description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<!-- Todo: Cover support -->
<!-- 
{{ if and (not .IsHome) (isset .Params "cover") }}
    <meta property="og:image" content="{{ .Param "cover" | absURL }}">
{{ else }}
    {{ if isset $.Site.Params "favicon" }}
        <meta property="og:image" content="{{ $.Site.Params.favicon | absURL }}">
    {{ end }}
{{ end }}
<meta property="og:image:width" content="2048"> 
<meta property="og:image:height" content="1024">
-->

{{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
{{ end }}

<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- Extended head section-->
{{ partial "extended_head.html" . }}
