<div class="flex flex-col gap-1">
    
    <!-- Title -->
    <h3>
        <a href="{{ .Permalink }}" class="title">{{ .Title | markdownify }}</a>
    </h3>
    
    <!-- Metadata -->
    <!-- <div>
        Published on {{ .Date.Format "02 Jan 2006" }}{{ with .Params.Author }} by {{ . }} {{ end }}
    </div> -->

    <!-- Summary -->
    <div>
        {{ if .Description }}
            {{ .Description | markdownify }}
        {{ else }}
            {{ .Summary | markdownify }}
        {{ end }}
    </div>

    <!-- Read More button -->
    <div>
        <a href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more"}} →</a>
    </div>
</div>