@tailwind base;
@tailwind components;
@tailwind utilities;

.pretty {
    @apply bg-gradient-to-r from-violet-600 to-cyan-400 dark:from-violet-400 dark:to-cyan-500 text-transparent bg-clip-text decoration-violet-600 dark:decoration-violet-400;
}

.title {
    @apply pretty font-bold inline-block;
}

a.title {
    @apply decoration-violet-600 dark:decoration-violet-400;
}

/* Only do the sexy thing to the first H1 */
h1:first-child {
    @apply title
}

/* Don't apply any margin to the first header */
.heading:first-child {
    @apply mt-0;
}

body {
    @apply bg-zinc-50 dark:bg-zinc-900 dark:text-white
}

h1 {
    @apply heading text-5xl mt-12;
}

h2 {
    @apply heading text-4xl mt-10;
}

h3 {
    @apply heading text-3xl mt-8;
}

h4 {
    @apply heading text-2xl mt-6;
}

h5 {
    @apply heading text-xl mt-4;
}

h6 {
    @apply heading text-lg mt-2;
}

a {
    @apply text-violet-600 hover:text-cyan-400 dark:text-violet-400 dark:hover:text-cyan-500 hover:underline
}

ul {
    @apply list-disc list-inside;
}

ol {
    @apply list-decimal list-inside;
}

hr {
    @apply my-6;
}

p {
    @apply my-3;
}

svg {
    @apply h-6 w-6 fill-violet-600 hover:fill-violet-800 dark:fill-violet-400 dark:hover:fill-violet-600;
}

.menu-active {
    display: block;
}

.menu-button {
    @apply text-inherit px-2 py-1 rounded-xl hover:bg-violet-200 dark:hover:bg-violet-600 hover:transition-colors hover:no-underline;
}

.separator {
    @apply mx-2 border-solid border-l-2 border-violet-600 dark:border-violet-400;
    content: "&nbsp;";
}

.heading-anchor {
    @apply ml-1;
}

.hamburger {
    z-index: 100;
    @apply bg-zinc-50 dark:bg-zinc-900 absolute top-0 left-0 right-0 bottom-0;
}
