<nav class="flex flex-wrap flex-col lg:flex-row text-lg pl-5 text-right">

    <!-- Hidden checkbox to show/hide the menu for smaller devices -->
    <label for="menu-toggle" class="lg:hidden cursor-pointer block menu-button">Menu</label>
    <input type="checkbox" id="menu-toggle" class="hidden" />

    <!-- Menu items -->
    <div id="menu" class="hidden lg:block">
        <ul class="lg:flex items-center justify-between gap-5 list-none">
            {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
                <li class="menu-button"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>

    <script type="text/javascript">
        let menuToggle = document.getElementById('menu-toggle');
        let menu = document.getElementById('menu');
        menuToggle.addEventListener('click', function() {
            menu.classList.toggle('menu-active');
        });
    </script>
</nav>
  