<nav class="flex flex-wrap flex-col lg:flex-row text-lg pl-5 text-right">

    <!-- Hidden checkbox to show/hide the menu for smaller devices -->
    <button class="lg:hidden cursor-pointer block menu-button" onclick="toggleMenu()">Menu</button>

    <!-- Menu items -->
    <div id="menu" class="hidden lg:block">
        <div class="flex flex-col lg:flex-row items-center justify-between lg:gap-5 list-none">
            {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
                <a class="menu-button" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        </d>
    </div>

    <script type="text/javascript">
        let menu = document.getElementById('menu');
        function toggleMenu() {
            menu.classList.toggle('menu-active');
        }
    </script>
</nav>
  