<h1>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
</h1>
<div>
    {{ with .Params.Author }}
        <!-- Todo: person icon -->
        <span>{{ . }}</span>
    {{ end }}
    <span>
        <!-- Todo: date icon -->
        {{ .Date.Format "2006-01-02" }}
    </span>
    {{ if and (.Param "readingTime") (eq (.Param "readingTime") true) }}
        <!-- Todo: Clock and Pencil icon -->
        <span>{{ .ReadingTime }} minutes read ({{ .WordCount }} words)</span>
    {{ end }}
</div>

{{ if .Params.tags }}
<span class="flex flex-row flex-wrap gap-1">
    {{ range .Params.tags }}
        <!-- Todo: Tag icon -->
        <a class="tag" href="{{ (urlize (printf " tags/%s/" . )) | absLangURL }}">
            {{- . -}}
        </a>&nbsp;
    {{ end }}
</span>
{{ end }}

<!-- Cover image -->
{{ partial "cover.html" . }}