{{ if .Get "src" }}
    {{ $src := .Get "src" }}
    {{ $alt := .Get "alt" }}
    {{ $style := .Get "alt" }}

    {{ with resources.Get $src }}

        <!-- Convert all images to webp -->
        {{ with .Resize (printf "%dx%d webp" .Width .Height) }}
            <img
                src="{{ .RelPermalink }}"
                width="{{ .Width }}"
                height="{{ .Height }}"
                class="object-contain m-3 mx-auto rounded-lg"
                {{ with $alt }} alt="{{ . | plainify }}" {{ end }}
                {{ with $style }} style="{{ . | safeCSS }}" {{ end }}
                loading="lazy" />
        {{ end }}

    {{ end }}
{{ end }}